@import 'tailwindcss';

:root {
	--scroll-bar-color: #f97316bb var(--bg-color);
	--bg-color: #010913;
	--font-be-vn-pro: 'Be Vietnam Pro', sans-serif;
}

@layer base {
	html,
	body {
		font-family: 'Inter', sans-serif;
		scrollbar-width: thin;
		scrollbar-color: var(--scroll-bar-color);
	}

	body {
		@apply overflow-x-hidden break-words;
	}
}

@layer utilities {
	@keyframes orbit {
		0% {
			transform: rotate(0deg) translateY(calc(var(--radius) * 1px)) rotate(0deg);
		}
		100% {
			transform: rotate(360deg) translateY(calc(var(--radius) * 1px)) rotate(-360deg);
		}
	}

	.animate-orbit {
		animation: orbit calc(var(--duration) * 1s) linear infinite;
	}
}

.markdown p {
	@apply text-slate-300;
}
.markdown a {
	@apply text-red-300 transition-all duration-150 hover:text-white hover:underline;
}
.markdown strong {
	@apply text-red-400;
}
.markdown ul {
	@apply mt-2;
}
.markdown li {
	list-style: circle;
	list-style-position: inside;
	@apply mb-3 text-slate-300;
}
